In [1]:
!python --version

Python 3.10.13

## Question 1 -  What's the version of Pandas that you installed?

In [77]:
import numpy as np
import pandas as pd
pd.__version__

'2.0.3'

## Question 2 - How many columns are in the dataset?

In [7]:
HOUSING_DATA_PATH = "/home/rjesus/repos/ml-zoomcamp-rjesus/homework01/data/housing.csv"

In [8]:
df = pd.read_csv(HOUSING_DATA_PATH)

In [11]:
df.columns.size

10

## Question 3 - Which columns in the dataset have missing values?

In [21]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

## Question 4 - How many unique values does the `ocean_proximity` column have?

In [25]:
df.ocean_proximity.nunique()

5

## Question 5 - What's the average value of the `median_house_value` for the houses located near the bay?

In [35]:
df[df.ocean_proximity == "NEAR BAY"].median_house_value.mean()

259212.31179039303

## Question 6
1. Calculate the average of `total_bedrooms` column in the dataset.

In [51]:
average_bedrooms = df.total_bedrooms.mean()
average_bedrooms

537.8705525375618

## Question 6
2. Use the `fillna` method to fill the missing values in `total_bedrooms` with the mean value from the previous step.

In [40]:
df.total_bedrooms.isna().sum() # Count number of not-a-number values

207

In [52]:
total_bedrooms_filled = df.total_bedrooms.fillna(average_bedrooms)

## Question 6
3. Now, calculate the average of `total_bedrooms` again.

In [54]:
average_bedrooms_after = total_bedrooms_filled.mean()
average_bedrooms_after

537.8705525375617

## Question 6
4. Has it changed?

In [58]:
(average_bedrooms_after - average_bedrooms).round(3)
average_bedrooms_after.round(3)

-0.0

## Question 7

1. Select all the options located on islands.

In [64]:
island_check = df.ocean_proximity == "ISLAND"

## Question 7
2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.

In [68]:
island_data = df[island_check][["housing_median_age", "total_rooms", "total_bedrooms"]]
island_data

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

## Question 7
3. Get the underlying NumPy array. Let's call it `X`.

In [72]:
X = island_data.values
X

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

## Question 7
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.

In [75]:
XTX = X.T.dot(X)
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

## Question 7
5. Compute the inverse of `XTX`.

In [81]:
XTXinv = np.linalg.inv(XTX)
XTXinv.dot(XTX)

array([[ 1.00000000e+00,  4.64341239e-13,  1.18269543e-13],
       [-4.39833716e-16,  1.00000000e+00, -1.66300350e-15],
       [ 1.04674299e-15,  1.09601998e-14,  1.00000000e+00]])

## Question 7
6. Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.

In [82]:
y = [950, 1300, 800, 1000, 1300]

## Question 7
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.

In [84]:
w = (XTXinv.dot(X.T)).dot(y)
w

array([23.12330961, -1.48124183,  5.69922946])

## Question 7
8. What's the value of the last element of `w`?

In [85]:
w[-1]

5.699229455065578